<h2>HOST</h2>

<h3>Session ID: {{ networkService.sessionId }}</h3>
<h3>Peer ID Host: {{ networkService.peerIdHost }}</h3>
<div *ngIf="this.webrtcService.statuses.length > 0">
    <h3>Peers</h3>
    <ul>
        <li *ngFor="let status of webrtcService.statuses">
            <span>{{ status.peerId }}: {{status.connectionStatus|json}} </span>
        </li>
    </ul>

    <h3>Send message</h3>
    <input [(ngModel)]="message" placeholder="Enter message" />
    <span *ngFor="let status of webrtcService.statuses">
        <button *ngIf="status.connectionStatus=='connected'" (click)="sendMessage(status.peerId)">Send to {{
            status.peerId
            }}</button>
    </span>
</div>
<div *ngIf="this.lastMessage">
    <h3>Received message</h3>
    <i>{{this.lastMessage}}</i>
</div>

<app-traffic-receive></app-traffic-receive>
<app-traffic-send></app-traffic-send>