<div class="container mt-4">
    <h2 class="text-center text-primary mb-4">📺 HOST</h2>

    <div class="card shadow-sm p-4">
        <h4 class="text-success">🛜 Host Information</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Session ID:</strong>
                    📋 <span class="text-primary" style="cursor: pointer;"
                        (click)="copyToClipboard(networkService.sessionId)">
                        {{ networkService.sessionId }}
                    </span>
                </div>
                <div class="mb-3">
                    <strong>Join:</strong>
                    📋 <span class="text-primary" style="cursor: pointer;" (click)="copyToClipboard(qrCodeUrl)">
                        {{ qrCodeUrl }}
                    </span>
                </div>
                <div class="mb-3 text-muted">
                    <small><strong>Peer ID Host:</strong> {{ networkService.peerIdHost }}</small>
                </div>
                <div class="mb-3 text-muted">
                    <small><strong>URL Signaling Server:</strong> {{ urlSignalingServer }}</small>
                </div>
            </div>
            <div class="col-md-6">
                <app-qr-code-wrapper [value]="qrCodeUrl" [class]="'qr-code'"></app-qr-code-wrapper>
            </div>
        </div>
    </div>


    <!-- Received Message Section -->
    <div *ngIf="this.lastMessage || this.webrtcService.statuses.length > 0" class="card shadow-sm p-4 mt-4">
        <div *ngIf="this.lastMessage">
            <h4>📥 Received Message</h4>
            <div class="alert alert-info">
                <i>{{ this.lastMessage }}</i>
            </div>
        </div>

        <!-- Send Message Section -->
        <div *ngIf="this.webrtcService.statuses.length > 0">
            <h4>📤 Prepare Message</h4>
            <div class="input-group">
                <input [(ngModel)]="message" class="form-control" placeholder="Enter message" />
            </div>
            <p class="text-muted mt-2">
                <small>Click on a peer to send a message.</small>
        </div>
    </div>

    <!-- Peers Section -->
    <div *ngIf="this.webrtcService.statuses.length > 0" class="card shadow-sm p-4 mt-4">
        <h4 class="">👫 Connected Peers</h4>
        <div class="row">
            <div *ngFor="let status of webrtcService.statuses" class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body"
                        [ngClass]="{'bg-success text-white': status.connectionStatus == 'connected', 'bg-warning text-dark': status.connectionStatus == 'disconnected'}">
                        <h5 class="card-title">{{ status.peerId }}</h5>
                        <p class="card-text">
                            <strong>Status:</strong> {{ status.connectionStatus | json }}
                        </p>
                        <button *ngIf="status.connectionStatus == 'connected'" class="btn btn-primary btn-sm"
                            (click)="sendMessage(status.peerId)">
                            Send Message
                        </button>

                        <app-square *ngIf="status.connectionStatus == 'connected'"
                            [clientName]="status.peerId"></app-square>


                        <div class="card shadow-sm p-4 mt-4">
                            <app-square-control [peerIdSelf]="peerId" [peerIdTo]="status.peerId"></app-square-control>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Traffic Components -->
    <div class="mt-4">
        <app-traffic-send></app-traffic-send>
        <app-traffic-receive></app-traffic-receive>
    </div>
</div>