<div *ngIf="peerConnectedAtLeastOne">
    <h3>Test send traffic</h3>
    <div>
        <label for="peerID">Peer ID:</label>
        <select id="peerID" name="peerID" [(ngModel)]="peerId" (change)="update()">
            <option *ngFor="let status of webrtcService.statuses" [value]="status.peerId">{{ status.peerId }}</option>
        </select>
    </div>
    <div *ngIf="!peerConnected">
        <p>Peer {{ peerId }} not connected</p>
    </div>
    <div *ngIf="peerConnected">
        <div>
            <label for="bitsPerMessage">Bits per Message:</label>
            <input type="number" id="bitsPerMessage" name="bitsPerMessage" placeholder="Enter bits per message"
                [(ngModel)]="bitsPerMessage" (change)="update()">
        </div>
        <div>
            <label for="messagesPerSecond">Messages per Second:</label>
            <input type="number" id="messagesPerSecond" name="messagesPerSecond" placeholder="Enter messages per second"
                [(ngModel)]="messagesPerSecond" (change)="update()">
        </div>
        <div>
            <label for="activated">Activated:</label>
            <input type="checkbox" id="activated" name="activated" [(ngModel)]="activated" (change)="update()">
        </div>
        <div>
            <button (click)="testLatency()">Test Latency</button>
            <div *ngIf="latencyMS!=0">
                {{ latencyMS.toFixed(2) }} ms
            </div>
        </div>
    </div>
</div>