<div>
  <h1>{{ title }}</h1>
  <div>
    <button (click)="createOffer()">Create Offer</button>
  </div>
  <div>
    <textarea [(ngModel)]="offer" placeholder="Paste offer here"></textarea>
    <button (click)="handleOffer()">Handle Offer</button>
  </div>
  <div>
    <input [(ngModel)]="message" placeholder="Enter message" />
    <button (click)="sendMessage()">Send Message</button>
  </div>
  <div>
    <h2>Received Messages:</h2>
    <ul>
      <li *ngFor="let msg of receivedMessages">{{ msg }}</li>
    </ul>
  </div>
</div>