<div class="container mt-4">

    <h2 class="text-center text-primary mb-4">🎮 CONTROLLER</h2>

    <!-- Connection Section -->
    <div *ngIf="!status" class="card shadow-sm p-4">
        <h4 class="text-danger">Connect to Host</h4>
        <div class="mb-3 text-muted">
            <small><strong>Peer ID Self:</strong> {{ networkService.peerIdSelf }}</small>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Session ID</span>
            <input [(ngModel)]="sessionId" id="sessionId" class="form-control" placeholder="Enter host session ID" />
        </div>
        <button class="btn btn-success w-100" [disabled]="sessionId == null || sessionId == ''"
            (click)="initController(sessionId)">
            Connect
        </button>
    </div>

    <!-- Disconnected Section -->
    <div *ngIf="status && status.connectionStatus != 'connected'" class="alert alert-danger mt-4">
        <p class="text-center mb-0">🚫 Disconnected</p>
    </div>

    <!-- Connected Section -->
    <div *ngIf="status && status.connectionStatus == 'connected'">
        <app-square [clientName]="networkService.peerIdHost"></app-square>
        <app-square-control [peerIdSelf]="networkService.peerIdSelf"
            [peerIdTo]="networkService.peerIdHost"></app-square-control>

        <div class="card shadow-sm p-4 mt-4">
            <h4 class="text-success">Session Information</h4>
            <div class="mb-3">
                <strong>Session ID:</strong> {{ networkService.sessionId }}
            </div>
            <div class="mb-3 text-muted">
                <small><strong>Peer ID Self:</strong> {{ networkService.peerIdSelf }}</small>
            </div>
            <div class="mb-3 text-muted">
                <small> <strong>Peer ID Host:</strong> {{ networkService.peerIdHost }} <span class="text-success">✅
                    </span></small>
            </div>
        </div>

        <div class="card shadow-sm p-4 mt-4">
            <div *ngIf="this.lastMessage">
                <h4>📥 Received Message</h4>
                <div class="alert alert-info">
                    <i>{{ this.lastMessage }}</i>
                </div>
            </div>
            <div>
                <h4>📤 Send Message</h4>
                <div class="input-group mb-3">
                    <input [(ngModel)]="message" class="form-control" placeholder="Enter message" />
                    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
                </div>
            </div>
        </div>


        <app-traffic-send></app-traffic-send>
        <app-traffic-receive></app-traffic-receive>
    </div>
</div>