<h4 class="mb-3">🟦 Square Control</h4>

<div class="row g-2">
    <!-- Left Column: Visibility and Color -->
    <div class="col-6 col-md-12  col-sm-12">
        <div class="input-group align-items-center mb-2">
            <div class="input-group-prepend">
                <label for="visibilityToggle" class="input-group-text">Visible</label>
            </div>
            <div class="form-check ms-3">
                <input type="checkbox" id="visibilityToggle" name="visibilityToggle" class="form-check-input"
                    [(ngModel)]="visible" (change)="update(0, 0)" style="transform: scale(2);" />
            </div>
        </div>

        <div class="input-group mb-2" *ngIf="visible">
            <div class="input-group-prepend">
                <label for="colorInput" class="input-group-text">Color</label>
            </div>
            <input id="colorInput" type="color" class="form-control form-control-color p-0" [(ngModel)]="color"
                (change)="update(0, 0)">
        </div>
    </div>

    <!-- Right Column: Joystick -->
    <div class="col-6 col-md-12 col-sm-12">
        <div class="joystick-container d-flex justify-content-center align-items-center" *ngIf="visible"
            (mousedown)="startJoystick($event)" (mousemove)="moveJoystick($event)" (mouseup)="stopJoystick()"
            (mouseleave)="stopJoystick()" (touchstart)="startJoystick($event)" (touchmove)="moveJoystick($event)"
            (touchend)="stopJoystick()">
            <div class="joystick border rounded-circle d-flex justify-content-center align-items-center">
                <div class="joystick-handle bg-primary rounded-circle" [ngStyle]="joystickHandleStyle"></div>
            </div>
        </div>
    </div>
</div>